<header>
    <img id="mainImage" src="/assets/img/burger.png" alt="cheeseburger">
    <h1 style="font-weight: bold; text-shadow: 2px 1px white">Burger Boss</h1>
</header>



{{!-- Container for pending burgers to be eaten --}}
<div class="container">
<div class="display-burgers">
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>
</div>
{{!-- Burgers that have been eaten already --}}
{{#if hasDevouredBurgers}}
<div class="devoured-burgers">
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burger-block devoured=true}}
        {{/if}}
    {{/each}}
</ul>
</div>
{{/if}}
</div>



{{!-- Input box and submit button --}}
<form class="new-burger">
    <p style="font-weight: bold; text-shadow: 1px 3px black" >Enter the name of the burger you'd like to order:</p>
    <div class="form-group">
        <input type="text" id="name" name="burger-name">
    </div>
    <br>
    <button type="submit" id="burger-submit">Submit</button>
</form>